[mysqld]
datadir = /greatdb/mysql/data/
port = 3306
socket = /greatdb/mysql/socket/mysql.sock
mysqlx = 0
mysqlx_port = 33060
mysqlx_socket = /greatdb/mysql/socket/mysqlx.sock
user = greatdb
report_host = REPORTHOST
admin_address = 127.0.0.1
admin_port = 33062
server_id = SERVERID
tmpdir = /greatdb/mysql/tmp/
general_log_file = /greatdb/mysql/logfile/general.log
log_bin = /greatdb/mysql/logfile/binlog
relay_log = /greatdb/mysql/logfile/relaylog
slow_query_log_file = /greatdb/mysql/logfile/slow.log
log_error = /greatdb/mysql/logfile/error.log
pid_file = /greatdb/mysql/pid/mysqld.pid

back_log = 5000
binlog_format = row
binlog_ignore_db = dbscale_tmp
binlog_transaction_dependency_tracking = WRITESET
character_set_server = utf8
default_authentication_plugin = mysql_native_password
enforce_gtid_consistency = on
expire_logs_days = 15
federated = 1
gtid_mode = on
init_connect = SET NAMES utf8
innodb_buffer_pool_instances = 10
innodb_buffer_pool_size = 30G
innodb_change_buffering = all
innodb_doublewrite = 1
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 8000
innodb_io_capacity_max = 10000
innodb_log_buffer_size = 128M
innodb_log_files_in_group = 4
innodb_log_file_size = 1G
innodb_monitor_enable = all
innodb_print_all_deadlocks = on
innodb_read_io_threads = 4
innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:81920M
innodb_thread_concurrency = 0
innodb_write_io_threads = 4
interactive_timeout = 31536000
log_bin_trust_function_creators = 1
log_slave_updates = 1
log_timestamps = SYSTEM
long_query_time = 10
lower_case_table_names = 1
master_info_repository = TABLE
max_allowed_packet = 16M
max_connections = 20480
max_prepared_stmt_count = 1048576
net_read_timeout = 10000
net_write_timeout = 10000
open_files_limit = 800000
performance-schema-consumer-events_stages_current = on
performance-schema-consumer-events_stages_history = on
performance-schema-consumer-events_statements_current = on
performance-schema-consumer-events_statements_history = on
performance-schema-consumer-events_transactions_current = on
performance-schema-consumer-events_transactions_history = on
performance-schema-consumer-events_waits_current = on
performance-schema-consumer-events_waits_history = on
performance-schema-instrument = %=ON
plugin-load = rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
relay_log_info_repository = TABLE
skip_external_locking = 1
skip_name_resolve = 1
skip_slave_start = 1
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 16
slave_pending_jobs_size_max = 2147483648
slave_preserve_commit_order = 1
slave_rows_search_algorithms = INDEX_SCAN,HASH_SCAN
slow_query_log = on
sort_buffer_size = 2M
ssl = off
sync_binlog = 1
table_definition_cache = 5000
table_open_cache = 5000
thread_cache_size = 3000
transaction_isolation = READ-COMMITTED
transaction_write_set_extraction = XXHASH64
wait_timeout = 31536000